#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 50px auto;
  
}

.grid-item { 
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  flex: 1 0 calc(100% / 16);
  height: calc(100% / 16);
}
