#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 50px auto;
  
}

.grid-item { 
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  width: 31.25px;
  height: 31.25px;
  /* container size 500px / 16 = width and height of each item */
}
