body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 50px auto;
}

#btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.grid-item { 
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  width: 31.25px;
  height: 31.25px;
  /* container size 500px / 16 = width and height of each item */
}
